{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% if suffix_icon or prefix_icon %}

  <div class="form-element-icon-wrapper form-element-icon-wrapper--input">
    {% if prefix_icon %}
      {{ prefix_icon | raw }}
    {% endif %}

    <input{{ attributes }} />{{ children }}

    {% if suffix_icon %}
      {{ suffix_icon | raw }}
    {% endif %}
  </div>

{% else %}
  <input{{ attributes }} />{{ children }}
{% endif %}
